body {
  margin: 10px;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 38px;
  font-family: helvetica,arial,sans-serif;
}

h2 {
  text-align: center;
}

p {
  font-size: 22px;
}

#main-container {
  margin-left: 20%;
  margin-right: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li {
  margin-bottom: 0.8em;
  font-size: 18px;
}

img {
  padding: 20px;
  width: 50%;
  height: auto;
}

.center-text {
  text-align: center;
}